:root {
    box-sizing: border-box;
    
}

@font-face {
    font-family: NorseBold;
    src: url(font/Norse-Bold.otf);
}

@font-face {
    font-family: ProdaSans;
    src: url(font/Nasir\ Udin\ -\ ProdaSans-Medium.otf);
}
@font-face {
    font-family: ProdaSans;
    src: url(font/Nasir\ Udin\ -\ ProdaSans-SemiBoldItalic.otf);
    font-weight: bold;
}

html {
    display:flex;
    height:100%;
    
}

body {
   
    display:flex;
    flex: 1 0 auto;
    margin: 0;
    
   
    
}




.outerContainer {
    
    flex: 1 0 auto;
    display:flex;
    
    
    
    
    
    
    
    
}

.leaves {
    display:flex;
    
    
    
}

.leftContainer {
    display:flex;
    
    
    
    
    
}
.rightContainer {
  display:flex;
  flex: 1 1 auto;

 
   
    
    
    
}

.entireFormContainer {
    display:flex;
    flex: 1 1 auto;
}

form {
    flex-direction: column;
    display: flex;
    flex: 1 1 auto;
}


.formTopPara  {
    
    padding: 5rem 1rem 2rem 1rem;
    font-family: 'ProdaSans', Arial, Helvetica, sans-serif;
    background-color: #f9fafb;
}

.formTopPara > p {
    font-size: 1rem;
    
    margin: 0;
}

.formTopPara > p:last-child {
    margin: 1rem 0rem 1rem 0rem;
}


.formMidSection {
    font-family: 'ProdaSans', Arial, Helvetica, sans-serif;
    padding: 2rem;
}

.formBottom {
    display:flex;
    flex-direction: column;
    background-color: #f9fafb;
    padding:2rem;
    height: 100%;
}

label, input {
    display:block
}

.div1, .div2, .div3 {
    display:flex;
    gap: 2rem;
}

.inputDiv {
    display:flex;
    flex-direction: column;
    gap:1rem;
}